<div id="<%= dom_id home %>">
  <p>
    <strong>Home type:</strong>
    <%= home.home_type %>
  </p>

  <p>
    <strong>Pool:</strong>
    <%= home.pool %>
  </p>

  <p>
    <strong>Day construction:</strong>
    <%= home.day_construction %>
  </p>

</div>
